<p class="path">Habit Tracker / <%= title %>
</p>

<section class="curr-act">
    <h4>Add Activity</h4>
    <div id="err"></div>
    <form action="/activity/create" method="post">
        <span class="act-name">
            <input type="text" name="name" placeholder="Activity name" />
        </span>
        <span class="act-button">
            <input type="submit" value="Submit" />
        </span>
    </form>
    <div class="curr-act-tab">
        <table CELLPADDING=10>
            <thead>
                <th>Activity Name</th>
                <th>Status</th>
            </thead>
            <% if(activities) { %>
                <% activities.forEach( activity=> { %>
                    <% if(activity.statusData[0]) { %>
                        <% let currdt=new Date(new Date().setDate(new Date().getDate())), prevDt=new
                            Date(activity.statusData[0].statusDt) %>
                            <% if(currdt.getDate()==prevDt.getDate() && currdt.getMonth()==prevDt.getMonth() &&
                                currdt.getFullYear()==prevDt.getFullYear()) { %>
                                <tr>
                                    <td id="title">
                                        <%= activity.name %>
                                    </td>
                                    <td>
                                        <select name="status" id="status"
                                            onchange="handleChangeStatusByDate('<%= activity.id %>','<%= activity.statusData[0] && activity.statusData[0].id %>', this.value, 0)">
                                            <option value="" selected <%=activity.statusData[0] &&
                                                activity.statusData[0].status==="" ? "selected" : '' %> >Select</option>
                                            <option value="done" <%=activity.statusData[0] &&
                                                activity.statusData[0].status==="done" ? "selected" : '' %> >Done</option>
                                            <option value="not done" <%=activity.statusData[0] &&
                                                activity.statusData[0].status==="not done" ? "selected" : '' %> >Not Done
                                            </option>
                                            <option value="none" <%=activity.statusData[0] &&
                                                activity.statusData[0].status==="none" ? "selected" : '' %> >None</option>
                                        </select>
                                    </td>
                                </tr>
                                <% } else { %>
                                    <tr>
                                        <td id="title">
                                            <%= activity.name %>
                                        </td>
                                        <td>
                                            <select name="status" id="status"
                                                onchange="handleChangeStatusByDate('<%= activity.id %>',undefined, this.value, 0)">
                                                <option value="" selected>Select</option>
                                                <option value="done">Done</option>
                                                <option value="not done">Not Done</option>
                                                <option value="none">None</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } else { %>
                                            <tr>
                                                <td id="title">
                                                    <%= activity.name %>
                                                </td>
                                                <td>
                                                    <select name="status" id="status"
                                                        onchange="handleChangeStatusByDate('<%= activity.id %>',undefined, this.value, 0)">
                                                        <option value="" selected>Select</option>
                                                        <option value="done">Done</option>
                                                        <option value="not done">Not Done</option>
                                                        <option value="none">None</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% }) %>
                                                    <% } else { %>
                                                        <li>
                                                            <span>No data present</span>
                                                        </li>
                                                        <% } %>
        </table>
    </div>
</section>

<script>
    /*
    function for updating status by id 
    if their is not status for that day, new status will be created
    otherwise it shows the status of that day
    */
    const error = document.querySelector("#err");
    error.textContent = "";
    async function handleChangeStatusByDate(actid, stId, status, day) {
        console.log({ actid, stId, status, day });
        try {
            const res = await fetch('/activity/statusUpdateById', {
                method: 'POST',
                body: JSON.stringify({ activityid: actid, stDtId: stId, status: status, day: day }),
                headers: { 'Content-Type': 'application/json' }
            });
            const data = await res.json();
            if (res.status === 400 || res.status === 401) {
                return error.textContent = `${data.message}. ${data.error ? data.error : ''}`;
            }
            if (data) {
                location.reload();
            }
        } catch (err) {
            console.log(err.message)
        }
    }
</script>